:root {
    --primary-font: "Nunito Sans", sans-serif;
    --secondary-font: "Open Sans", sans-serif;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    --white-color: rgba(255, 255, 255, 1);
    --black-color: rgba(0, 0, 0, 1);
    --black-04-color: rgba(0, 0, 0, 0.4);
    --white-02-color: rgba(255, 255, 255, 0.2);
    --red-color: rgba(255, 0, 0, 1);
    --black-025-color: rgba(0, 0, 0, 0.25);
    --red-03-color: rgba(255, 0, 0, 0.3);
    --white-016-color: rgba(255, 255, 255, 0.16);
    --gray300-color: rgba(106, 106, 106, 1);
    --gray400-color: rgba(40, 39, 44, 1);
    --gray200-color: rgba(178, 178, 178, 1);
    --gray100-color: rgba(209, 209, 209, 1);
}
* {
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 1088px;
}